/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgba(176, 221, 243, 0.939);
 
}


/* Choose the appearance of the tags, h1, h3 and p: */

h1{
    color:rgb(16, 120, 87);
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}
h3{
    color:rgb(16, 120, 87);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(214, 240, 251);
    border-radius: 20px;
}


/* Set the apperance of the class, chart */
.chart{
    margin: 10px 100px;
    background-color: rgb(255, 255, 255);
    width:380px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(16, 120, 87);

    
}
    