@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ProzaLibre&display=swap');

.div.header{
    margin-top: 20px;
    text-align:center;
}
.topnav{
    text-align:center;
} 
.topnav a{
    font-size: 19px; 
    color:rgb(54, 32, 85);
}

body{
    background-color: rgb(191, 168, 189, 0.6);
}
h1{
    color:rgb(248, 248, 248);
    font-family: Oswald;
    font-size: 100px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
h2{
    color:rgb(54, 32, 85);
    font-family: Neuton;
    font-size: 26px;
    text-align: center; 
}
h3{
    color:rgb(54, 32, 85);
    font-family: Neuton;
    font-size: 22px;
    text-align: center; 
    padding-top: 15px;
    padding-bottom: 2px;
}
h4{
    color:rgb(54, 32, 85);
    padding-left: 15px;
    padding-right: 15px;
    text-align:justify;
    text-justify: inter-word;
    font-family: Neuton;
    font-size: 16;
   
}
p{
    color:rgb(54, 32, 85);
    padding-left: 15px;
    padding-right: 15px;
    text-align:justify;
    text-justify: inter-word;
    font-size: 14;
}
.link {
    font-size: 16px; 
    color:rgb(54, 32, 85);
    font-style: italic; 
}
#link1{
    background-color: transparent;
    font-family: Oswald; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border-color: transparent;
}

#link1:hover{
    background-color:rgb(191, 168, 189, 0.4);
    border-color: rgb(54, 32, 85, 0.6);
}

#link2{
    background-color: transparent;
    font-family: Oswald; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border-color: transparent;
}

#link2:hover{
    background-color:rgb(191, 168, 189, 0.4);
    border-color: rgb(54, 32, 85, 0.6);
}

#link3{
    background-color: transparent;
    font-family: Oswald; 
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border-color: transparent;
}

#link3:hover{
    background-color:rgb(191, 168, 189, 0.4);
    border-color: rgb(54, 32, 85, 0.6);
}
.mainbody{
        margin: auto;
        max-width: 800px;
        background-color: rgb(248, 248, 248, 0.4);
        border-radius: 20px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
        }
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.chart{
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    padding: 6px 14px;  
    background-color: white; 
}